body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
}

.calculator {
  max-width: 400px;
  padding: 5rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
}

label {
  display: block;
  margin-bottom: 2rem;
}

input {
  padding: 1rem;
  margin-bottom: 3rem;
}

button {
  background-color: rgb(38, 38, 38);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 0, 0);
}
