body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dice {
  height: 300px;
  width: 300px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.btn {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
}
.btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
